@model IEnumerable<Storyboard_App.Models.Project>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    <button class="btn btn-primary new-project" data-id="">New Project</button>
</div>

<ul>
    @foreach (var project in Model)
    {
        <li>
            @Html.ActionLink(project.Name, "DisplayProject", "Projects", new { project = project.Name }, null)
        </li>
    }
</ul>
@Html.Partial("_DialogPartial")