@model IEnumerable<Storyboard_App.Models.Project>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("New Project", "NewProject", "Projects", null, new { @class = "btn btn-primary" })
</p>

<ul>
    @foreach (var project in Model)
    {
        <li>
            @Html.ActionLink(project.Name, "EditProject", "Projects", new { id = project.Id }, null)
        </li>
    }
</ul>