<div>
    <button id="form-closed" style="width:100%" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">CLOSE</button>
    @*@Html.ActionLink("CLOSE", "DisplayProject", "Projects", null , new { @style = "width:100%", @type = "button", @class="btn btn-primary", data_dismiss="modal", aria_hidden="true" })*@
</div>